<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
</head>
<body>
<h2> Привет пользователь!</h2>
<h3>Введите свои днанные</h3>
<form method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="last_name" placeholder="last name">
    <input type="text" name="email_user" placeholder="email">
    <input type="submit" class="btn btn-success" value="Поздороваться">

</form><br>
<br>
 <div>
      <h1>{{content}}</h1>
 </div><br>


<a href="names">Список пользователей</a>
</body>
</html>